

.content {
    text-align: center;
}
.bigbutton {
    display: inline-block;
    background-color: transparent;
    background-image: url("../Assets/big_button.png");
    height: 95px ;
    width: 240px ;
    border: none;
    transition: transform 0.2s ease-in-out;
    padding-bottom:10px;
    cursor: pointer;
    font-size: 20px;
    /* margin-left: 25%; */
   
    margin-bottom:50px;
    margin-top:-10px;
    text-decoration: none;
    
    
}

.bigbutton:hover {
    background-image: url("../Assets/big_button_hover.png");
    transform: scale(1.027);
    
}

.bigbutton:active {
    background-image: url("../Assets/big_button_down.png");
    padding-bottom:0px;
}

#greeting {
    text-align: center;
    font-size: 35px;
    margin-top: 60px;
    margin-bottom: 70px;
}

.settingsButton {
    display: inline-block;
    background-color: transparent;
    background-image: url("../Assets/settingsbutton.png");
    height: 100px ;
    width: 95px ;
    border: none;
    transition: transform 0.2s ease-in-out;
    /* padding-bottom:10px; */
    margin-top: -50px;
    margin-bottom: -10px;
    cursor: pointer;
    font-size: 20px;
    margin-left: 355px;
    margin-right: auto;
    scale: 0.7;
}

.settingsButton:hover {
    background-image: url("../Assets/settingsbutton_hover.png");
    transform: scale(1.027);
    
}

.settingsButton:active {
    background-image: url("../Assets/settingsbutton_down.png");
    padding-bottom:0px;
}

.dogbutton {
    display: inline-block;
    background-image: url('../Assets/doggy-Sheet2.png');
    position: fixed;
    height:70px;
    width:80px;
    margin-top: -30px;
    background-color: transparent;
    border: none;
     margin-bottom: -10px;
    cursor: pointer;
    font-size: 20px;
    margin-left: auto;
    scale: 0.9;
    transform: scaleX(-1);
    background-position: 0 0; /* Start at the first frame */
    background-repeat: no-repeat;
    overflow: hidden;
}

@keyframes play {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -160px;
    }
    }

.dogbutton:hover {


    animation: play 0.25s steps(2) infinite;

}

