

.content {
    text-align: center;
}
.bigbutton {
    display: inline-block;
    background-color: transparent;
    background-image: url("../Assets/big_button.png");
    height: 95px ;
    width: 240px ;
    border: none;
    transition: transform 0.2s ease-in-out;
    padding-bottom:10px;
    cursor: pointer;
    font-size: 20px;
    /* margin-left: 25%; */
   
    margin-bottom:50px;
    margin-top:-10px;
    text-decoration: none;
    
    
}

.bigbutton:hover {
    background-image: url("../Assets/big_button_hover.png");
    transform: scale(1.027);
    
}

.bigbutton:active {
    background-image: url("../Assets/big_button_down.png");
    padding-bottom:0px;
}

#greeting {
    text-align: center;
    font-size: 35px;
    margin-top: 60px;
    margin-bottom: 70px;
}

.settingsButton {
    display: inline-block;
    background-color: transparent;
    background-image: url("../Assets/settingsbutton.png");
    height: 100px ;
    width: 95px ;
    border: none;
    transition: transform 0.2s ease-in-out;
    /* padding-bottom:10px; */
    margin-top: -50px;
    margin-bottom: -10px;
    cursor: pointer;
    font-size: 20px;
    margin-left: 355px;
    margin-right: auto;
    scale: 0.7;
}

.settingsButton:hover {
    background-image: url("../Assets/settingsbutton_hover.png");
    transform: scale(1.027);
    
}

.settingsButton:active {
    background-image: url("../Assets/settingsbutton_down.png");
    padding-bottom:0px;
}