


.bigbutton {
    display: block;
    background-color: transparent;
    background-image: url("../Assets/big_button.png");
    height: 95px ;
    width: 240px ;
    border: none;
    transition: transform 0.2s ease-in-out;
    padding-bottom:10px;
    cursor: pointer;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:40px;
    margin-top:40px;
    text-decoration: none;
    
}

.bigbutton:hover {
    background-image: url("../Assets/big_button_hover.png");
    transform: scale(1.027);
    
}

.bigbutton:active {
    background-image: url("../Assets/big_button_down.png");
    padding-bottom:0px;
}

#greeting {
    text-align: center;
    font-size: 35px;
    margin-top: 60px;
    margin-bottom: 70px;
}