* {
    font-family: "Pixelify Sans", sans-serif;
    user-select: none; 
    transition: 0.3s ease;
}

a  {
    text-decoration: none;
    -webkit-user-drag: none;
    user-drag: none;
    /* Also prevents selecting the text while trying to drag */
}

body {
    background-image: url("../Assets/bg_dawn.gif");
    margin: 0;
    padding: 0;
}



.titlebar {
    height:60px;
    background-image: url("../Assets/titlebar.png");
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 ;
    -webkit-app-region: drag;
}

button {
    -webkit-app-region: no-drag;
}

#titlebarText {
    flex-grow: 1;
    text-align: left;
    color: #2b2922;
    font-size: 18px;
    font-weight: bold;
    padding-left: 30px;
    margin-bottom: 5px;
}

#titlebar_buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#minimizeBtn, #closeBtn {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    margin-left: -5px;
    margin-right: 10px;
    height: 35px;
    width: 35px;
}

#minimizeBtn {
    background-image: url("../Assets/minimise-button.png");
}

#minimizeBtn:hover {
    background-image: url("../Assets/minimise-button-hover.png");
}

#minimizeBtn:active {
    background-image: url("../Assets/minimise-button-down.png");
}

#closeBtn {
    background-image: url("../Assets/x_button.png");
}

#closeBtn:hover {
    background-image: url("../Assets/x_button_hover.png");
}

#closeBtn:active {
    background-image: url("../Assets/x_button_down.png");
}

.content {
    border: solid 10px;
    border-color: #2b2922;
    border-top: none;
    height: 550px;
    padding:10px;
}

.backButton {
    display: inline-block;
    height:55px;
    width: 65px;
    background-color: transparent;
    background-image: url("../Assets/back_button.png");
    border: none;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}

.backButton:hover {
    background-image: url("../Assets/back_button_hover.png");
    cursor: pointer;
}

.backButton:active {
    background-image: url("../Assets/back_button_down.png");
    padding-bottom:0px;
}

.mediumButton {
    height: 55px;
    width: 170px;
    border: none;
    background-image: url("../Assets/next_button.png");
    background-color: transparent;
    cursor: pointer;
    font-size: 25px;
    transition: transform 0.2s ease-in-out;
    padding-bottom:10px;
}

.mediumButton:hover {
    background-image: url("../Assets/next_button_hover.png");
    transform: scale(1.03);
}

.mediumButton:active {
    background-image: url("../Assets/next_button_down.png");
    padding-bottom:0px;
}