ul#scheduleList {
    list-style-type: none;
}

ul#scheduleList li {
    margin-bottom: 10px;
    color: darkblue;
    border: solid 2px;
    width: 40%;
    max-width:50%;
    padding:3px;
    text-align: center;
    border-radius: 5px;
    background-color: aliceblue;
}

ul#scheduleList li:hover {
    background-color: rgb(156, 175, 184);
    cursor: pointer;
}

.dragging {
    background: #ff4d4d;
    transform: scale(1.1);
    cursor: grab;
}



ul#scheduleList li p {
    margin-top: 3px;
    margin-bottom: 3px;
}


#binElement {
    width: 50px;
    height: 50px;
    background-color: red;
    transition: transform 0.2s ease, background 0.2s ease;
}

#binElement.open {
  background: #ff4d4d;
  transform: scale(1.1);
}


.drop-indicator {
  height: 10px;
  background: #4da3ff;
  border-radius: 2px;
  margin: 4px 0;
  transition: transform 0.15s ease;
  width: 40%;
  max-width: 40%;
}

li.dragging {
    opacity: 0.3;
}

li {
  transition: background 0.15s ease;
}