h2 {
    text-align: center;
  -webkit-text-stroke-color: white; 

}

h3 {
    text-align: center;
    -webkit-text-stroke-color: white;
}

h5 {
    text-align: center;
     -webkit-text-stroke-color: white; 
}
#currentTaskLabel {
    position: relative;
    z-index: 100;
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 0px;
    -webkit-text-stroke-width: 0.2px; 
}

#currentTask {
    margin-top: 0px;
    font-size: 45px;
     -webkit-text-stroke-width: 0.5px; 
}

#timeLeftLabel {
    font-size: 22px;
    margin-bottom: 0px;
     -webkit-text-stroke-width: 0.3px; 
}

#currentTimeLeft {
    margin-top: 0px;
    font-size: 60px;
    margin-bottom: 30px;
     -webkit-text-stroke-width: 0.5px; 
}

#totalTimeLeftLabel {
    font-size: 20px;
    margin-bottom: 0px;
     -webkit-text-stroke-width: 0.5px; 
}

#totalTimeLeft {
font-size: 30px;
margin-top: 0px;
 -webkit-text-stroke-width: 0.5px; 
}

#nextTask {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}